<div class="col-md-12">
  <article class="blog-post">
    <h2 class="blog-post-title"><%= @post.title %></h2>
    <p class="blog-post-meta">
      <%= date_str(@post.created_at) %> by <%= @post.user_id %>
    </p>
    <p>
      <%= @post.body %>
    </p>
  </article>
  <hr />

  <div class="row">
    <div class="offset-md-1 col-md-11">
      <%= turbo_stream_from :comments %>
      <%= turbo_frame_tag :comments do %>
        <%= render @comments %>
      <% end %>

      <% if user_signed_in? %>
        <%= turbo_frame_tag :comment_form do %>
          <%= render "comments/form", post: @post, comment: @comment %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
