<%= form_with(model: post, id: dom_id(post)) do |form| %>
  <div class="field">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, rows: 6, class: "form-control" %>
  </div>

  <% if post.errors.any? %>
    <div id="error_explanation" class="text-danger">
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions mt-2">
    <%= form.submit "Save", class: "btn btn-sm btn-outline-success" %>
    <!-- <%= link_to "Cancel", post_path(post),
                class: "btn btn-sm btn-outline-danger" %> -->
  </div>

  <hr />
<% end %>
