<div class="col-md-8">
  <% @posts.each do |post| %>
    <article class="blog-post">
      <h2 class="blog-post-title">
        <%= link_to post.title, post_comments_path(post) %>
      </h2>
      <p class="blog-post-meta">
        <%= date_str(post.created_at) %> by <%= post.user.name %>
      </p>
      <p>
        <%= simple_format post.body %>
      </p>

      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <hr>
    </article>
  <% end %>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<div class="col-md-4">
  <div class="position-sticky" style="top: 2rem;">
    <div class="p-4 mb-3 bg-light rounded">
      <h4 class="fst-italic">Welcome <%= current_user.name %></h4>
      <hr/>
      <p class="mb-0">
        My Posts: <%= Post.user_records(current_user.id).count %>
        <br/>
        Total Posts: <%= Post.all.count %>
      </p>
    </div>
  </div>
</div>
